<div class="wrapper">
    <div class="contents">
        <div class="container">
            <div class="side-bar">
                <div class="header">
                    <h3>Citizen Connect 360</h3>
                </div>

                <div class="nav">
                    <!-- <a [routerLink]="['']">Home</a> -->
                    <a [routerLink]="['/users']">User Management</a>

                </div>

            </div>
            <div class="display-port">
                <div class="view-header">
                    <h3>User Management</h3>
                    <!-- <a [routerLink]="['']">Home</a> -->
                    <a [routerLink]="['']">User Management</a>
                </div>

                <div class="view">

                    <table class="styled-table responsive-table" *ngIf="allUsers$|async">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let user of allUsers$ | async; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.role}}</td>
                                <td *ngIf="user.status === 1">Approved</td>
                                <td *ngIf="user.status !== 1">Not Approved</td>
                                <td class="actions">

                                <input *ngIf="user.status === 1" type="button" id="edit-btn" value="Edit"  [routerLink]="['/user/'+user.id]">
                                <input *ngIf="user.status !== 1" type="button" id="approve-btn" (click)="approveUser(user.id)" value="Approve" >
                                <input type="button" value="Delete" id="delete-btn" (click)="deleteUser(user.id)">
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>