@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}


:root {
    --blue-color: #007BFF;
    --off-white: #F5F5F5;
    --egg-shell: #EBEBEB;
    --ivory-color: #FFFFF0;
    --dark-gray: #333333;
    --charcoal-color: #424242;
    --very-darkgray: #212121;
}


.wrapper {
    width: 100vw;
    background-color: #FFFFF0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents {
    width: 80vw;
 
    background-color: #2aeb1100;
    color: #EBEBEB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
}

.image {
    width: 40%;
    height: 600px;
    background-size: 100%;
    background-color: #f5f5f500;
    background-position: center;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-image: url("../../assets/Register-amico.png");
}

.container {
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F5F5F5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #007BFF;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #007BFF;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
    color: #333333;
}

.helper-text {
    height: 30px;
    width: 100%;
    background-color: rgba(165, 42, 42, 0);
    color: red;
    font-size: 15px;
    margin-bottom: 5px;
}

.account-types{
    display: flex;
    flex-direction: row;
    min-height: 30px;
    width: 100%;
    background-color:#f017af00;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    margin-bottom: 10px;
}

.account-types label{
    display: block;
    margin-bottom: 5px;
    color: #333333;
}


button[type="submit"] {
    width: 100%;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    opacity: 0.8;
}

.terms {
    color: #333333;
    margin-bottom: 10px;
    font-size: 15px;
}

.terms a {
    color: #007BFF;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.account-info {
    color: #333333;
    margin-top: 10px;
}

.account-info a {
    color: #007BFF;
    text-decoration: none;
}

.account-info a:hover {
    text-decoration: underline;
}

/* Responsive styling */
@media only screen and (max-width: 768px) {
  

    .contents {
        width: 100vw;
        flex-direction: column;
    }

    .image {
        width: 90%;
    }

    .container {
        width: 90%;
    }

    .account-info {
        font-size: small;
    }

    .account-types{
        flex-direction: column;
    }
}
