@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

:root {
    --blue-color: #007BFF;
    --off-white: #F5F5F5;
    --egg-shell: #EBEBEB;
    --ivory-color: #FFFFF0;
    --dark-gray: #333333;
    --charcoal-color: #424242;
    --very-darkgray: #212121;
}

.wrapper {
    width: 100vw;

    background-color: #FFFFF0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents {
    width: 80vw;
    min-height: 60vh;
    background-color: #48ff0000;
    color: #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F5F5F5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #007BFF;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #007BFF;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
    color: #333333;
}

.helper-text {
    height: 30px;
    width: 100%;
    background-color: rgba(165, 42, 42, 0);
    color: red;
    font-size: 15px;
    margin-bottom: 5px;
}


.account-types {
    display: flex;
    flex-direction: column;
    min-height: 30px;
    width: 100%;
    background-color: #f017af00;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    margin-bottom: 10px;
}

.account-types label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}


button[type="submit"] {
    width: 100%;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


/* Responsive styling */
@media only screen and (max-width: 768px) {

    .contents {
        width: 100vw;
    }

    .container {
        width: 90%;
       
    }

    .container h2{
        font-size: 14px;
        font-weight: 500;
        font-family: 'Lato';

    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 70%;
    }

    .container h2{
        font-size: 16px;
        font-weight: 500;
        font-family: 'Lato';

    }
}
