<div class="wrapper">
    <div class="contents">
        <div class="welcome">
            <h2>Welcome to Citizen Connect 360!</h2>
            <p>Empower your choice and participation in your government. On this platform you can:</p>
            <!-- <p>On this platform you can:</p> -->

        </div>
        <div class="features">

            <div class="feature-card">
                <div class="image2"></div>

                <div class="text-content">
                    <h3>Engage</h3>
                    <p>Discuss proposed bills and policies with your fellow citizens.</p>
                    <p>Share your views and participate in shaping the future.</p>
                </div>

                <input type="button" value="Start" [routerLink]="['views']">

            </div>

            <div class="feature-card">
                <div class="image1"></div>
                <div class="text-content">
                    <h3>Understand</h3>
                    <p>Access clear explanations of government documents.</p>
                    <p>No more jargon just the information you need.</p>
                </div>
                <input type="button" value="Start" [routerLink]="['educate']">


            </div>

            <div class="feature-card">
                <div class="image3"></div>

                <div class="text-content">
                    <h3>Act</h3>
                    <p>Participate in polls and surveys to express your views on various topics.</p>
                    <p>Efficiently report incidences and track real-time responses.</p>
                </div>
                <input type="button" value="Start" [routerLink]="['polls']">
            </div>


        </div>


        <div class="thankyou">
            <p>Thank you for choosing Citizen Connect 360. Lets build a better future together!</p>
        </div>

    </div>
</div>