@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 100vw;
    background-color: #ffff0000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents {
    width: 80%;
    height: 100%;
    background-color: #51ff0000;
    color: #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.welcome {
    width: 80%;
    min-height: 150px;
    background-color: #27a34600;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    text-align: center;
    padding-left: 10px;
}

.welcome h2 {
    font-size: 40px;
    font-weight: 500;
}

.welcome p {
    font-size: 18px;
    font-weight: 500;
}

.features {
    width: 80%;
    background-color: #ffb30f00;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 10px 0;
}

.feature-card {
    width: 31%;
    background-color: #007BFF;
    color: #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    gap: 5px;
}

.feature-card input[type="button"] {
    padding: 10px 30px;
    border: 1px solid #F5F5F5;
    border-radius: 20px;
    color: #007BFF;
    font-size: 15px;
    font-weight: 500;
    background-color: #FFFFF0;
}

.image1, .image2, .image3 {
    width: 95%;
    height: 200px;
    background-color: #FFFFF0;
    background-size: 100%;
    background-position: center;
    border-radius: 10px;
    background-repeat: no-repeat;
}

.image1 {
    background-image: url("../../assets/Knowledge-amico.png");
}

.image2 {
    background-image: url("../../assets/Group-Discussion-amico.png");
}

.image3 {
    background-image: url("../../assets/Voting-amico.png");
}

.text-content {
    width: 95%;
    height: 180px;
    background-color: rgba(60, 255, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0 5px;
}

.text-content h3 {
    font-size: 20px;
    font-weight: 600;
}

.text-content p {
    font-size: 15px;
    font-weight: 600;
}

.thankyou {
    width: 80%;
    padding: 20px 20px;
    background-color: #0edbd100;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    text-align: center;
    padding-left: 10px;
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .contents, .welcome, .features, .thankyou {
        width: 100%;
    }

    .welcome h2 {
        font-size: 20px;
    }

    .welcome p {
        font-size: 15px;
    }

    .features {
        flex-direction: column;
        gap: 10px;
    }

    .feature-card {
        width: 240px;
    }

    .thankyou {
        min-height: 100px;
        margin-top: 10px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .wrapper {
        flex-direction: column;
    }

    .contents, .welcome, .features, .thankyou {
        width: 100%;
    }

    .welcome h2 {
        font-size: 30px;
    }

    .welcome p {
        font-size: 15px;
    }

    .features {
        flex-direction: row;
    }

    .feature-card {
        width: 250px;
    }

    .thankyou {
        min-height: 100px;
    }
}
