<div class="wrapper">
    <div class="contents">
      <div class="container">
        <form [formGroup]="addPollForm" (ngSubmit)="onSubmit()">
          <h2>Create Poll</h2>
          
          <label for="question">Poll Question</label>
          <input type="text" id="question" placeholder="Enter Poll Question" formControlName="question" />
  
          <div class="helper-text" *ngIf="addPollForm.get('question')?.touched && !addPollForm.get('question')?.valid">
            <p *ngIf="addPollForm.get('question')?.hasError('required')"><i>Question is required</i></p>
          </div>
  
          <label for="responses">Responses</label>
          <div formArrayName="responses">
            <div *ngFor="let response of getControls(); let i = index" [formGroupName]="i" class="form-group">
              <input [formControlName]="i" type="text" placeholder="Enter response option" />
              <div class="helper-text" *ngIf="response.invalid && response.touched">
                <p *ngIf="response.hasError('required')"><i>Response is required</i></p>
              </div>
            </div>
          </div>
          <button type="button" (click)="addResponse()" class="btn btn-add-response">Add Response</button>
  
          <label for="startdate">Start Date</label>
          <input id="startdate" formControlName="startdate" type="date" />
  
          <label for="enddate">End Date</label>
          <input id="enddate" formControlName="enddate" type="date" />
  
          <div class="helper-text" *ngIf="addPollForm.get('startdate')?.invalid && addPollForm.get('startdate')?.touched">
            <p *ngIf="addPollForm.get('startdate')?.hasError('required')"><i>Start date is required</i></p>
          </div>
  
          <div class="helper-text" *ngIf="addPollForm.get('enddate')?.invalid && addPollForm.get('enddate')?.touched">
            <p *ngIf="addPollForm.get('enddate')?.hasError('required')"><i>End date is required</i></p>
          </div>
  
          <button type="submit" [disabled]="addPollForm.invalid" class="btn btn-submit">Submit Poll</button>
        </form>
      </div>
    </div>
  </div>
  