<div class="wrapper">
    <div class="contents">
        <div class="image">

        </div>

        <div class="container">

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <label >{{ loginsuccessMessage$| async}}</label>

                <h2>Login</h2>
                <label for="email">Email</label>
                <input type="email" placeholder="Enter Email Address" id="email" name="email" required
                    formControlName="email">
                <div class="helper-text" *ngIf="loginForm.get('email')?.touched && !loginForm.get('email')?.valid">
                    <p *ngIf="loginForm.get('email')?.hasError('email')"><i>Email is invalid</i></p>
                    <p *ngIf="loginForm.get('email')?.hasError('required')"><i>Email is required</i></p>
                </div>
                <label for="password">Password</label>
                <input type="password" placeholder="Enter Password" id="password" name="password" required
                    formControlName="password">
                <div class="helper-text"
                    *ngIf="loginForm.get('password')?.touched && !loginForm.get('password')?.valid">
                    <p *ngIf="loginForm.get('password')?.hasError('required')"><i>Password is required</i></p>
                    <p *ngIf="loginForm.get('password')?.hasError('minlength')"><i>Password must be at least 8
                            characters</i></p>
                    <p *ngIf="loginForm.get('password')?.hasError('pattern')"><i>Password is not strong</i></p>

                </div>


                <div class="forgot-password">
                    <a [routerLink]="['/forgotpassword']">Forgot Password?</a>
                </div>

                <button type="submit"[disabled]="loginForm.invalid">Login</button>
                <div class="account-info">
                    <span>Don't have an account? </span>
                    <a [routerLink]="['/register']">Register</a>
                </div>

            </form>
        </div>
    </div>
</div>