<div class="wrapper">
    <div class="contents">
        <div class="vote-card">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur est distinctio impedit a
                providentne.</p>

            <label for=""><input type="radio" name="options" id=""> Option1</label>
            <label for=""><input type="radio" name="options" id=""> Option2</label>
            <label for=""><input type="radio" name="options" id=""> Option3</label>
            <div class="vote-action">
                <input type="button" value="Vote">
            </div>

        </div>

        <div class="result-card">
            <h3>Results</h3>

            <div class="result-record">
                <label for="">Option1: {{ percentage1}}%</label>
                <div class="progress-container">
                    <div class="progress-bar" [style.width.%]="percentage1">
                        {{ percentage1 }}%
                    </div>
                </div>
            </div>

            <div class="result-record">
                <label for="">Option2: {{ percentage2 }}% </label>
                <div class="progress-container">
                    <div class="progress-bar" [style.width.%]="percentage2">
                        {{ percentage2 }}%
                    </div>
                </div>
            </div>

            <div class="result-record">
                <label for="">Option3: {{ percentage3 }}% lorem</label>
                <div class="progress-container">
                    <div class="progress-bar" [style.width.%]="percentage3">
                        {{ percentage3 }}%
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>