@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

.wrapper {
    width: 100vw;
    background-color: #007BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.contents {
    width: 80%;

    background-color: #51ff0000;
    color: #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    gap: 10px;
}

.titles {
    width: 100%;
    background-color: #ff00b300;
    color: #EBEBEB;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Lato';
}

.footer {
    width: 100%;
    background-color: #ffd90000;
    color: #EBEBEB;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;

}

.logo {
    width: 25%;
    background-color: #1100ff00;
    color: #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.logo h2 {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Lato';
    margin-left: 10px;

}

.quick-links {
    width: 25%;
    background-color: #00ffff00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Lato';
}

.quick-links a {
    color: #EBEBEB;
    text-decoration: none;
}

.quick-links a:hover {
    color: #333333;
}



.socials {
    width: 25%;
    height: 100%;
    background-color: #4c00ff00;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Lato';
}

.socials .bx {
    font-size: 35px;
}



.copyright {
    width: 100%;
   
    background-color: #c7171700;
    color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Lato';
}

.copyright p {
    text-align: center;
}

/* responsive styling */
@media only screen and (max-width: 768px) {

    .contents{
        width: 100%;
        font-size: 14px;
    }

    .wrapper {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
    }

    .logo {
        width: 100%;
   
    }

    .logo h2 {
        font-size: 25px;
    }

    .titles {
        display: none;

    }

    .quick-links,
    .socials {
        width: 100%;
      
        font-size: 14px;
    }

    .quick-links a:hover {
        color: #333333;
    }

    .copyright {
        font-size: 14px;
    }

    
}


@media only screen and (min-width: 768px) and (max-width: 992px) {


    .contents{
        width: 100%;
        font-size: 16px;
    }

    .titles {
        font-size: 16px;
    }
  

    .logo h2{
        width: 25%;
        font-size: 25px;
        display: flex;
    }

    .quick-links,
    .socials {
        width: 25%;
        font-size: 16px;
    }
    .copyright {
        font-size: 16px;
    }
}