<div class="wrapper">
    <div class="contents">
        <div class="titles">

            <h3></h3>
            <h3>Links</h3>
            <h3></h3>
          
            <h3>Socials</h3>
        </div>
        <div class="footer">
            <div class="logo">
                <h2>Citizen</h2>
                <h2>Connect 360</h2>
            </div>
            <div class="quick-links">

                <a [routerLink]="['']">Home</a>
                <a [routerLink]="['views']">Views</a>
                <a [routerLink]="['educate']">Educate</a>
                <a [routerLink]="['incidents']">Incidents</a>

            </div>

            <div class="quick-links">
                <a [routerLink]="['polls']">Polls</a>
                <a [routerLink]="['profile']">Profile</a>
              
                <a [routerLink]="['login']">Login</a>
                <a [routerLink]="['terms']">T's and C's</a>
            </div>

            <div class="socials">

                <i class='bx bxl-facebook'></i>
                <i class='bx bxl-twitter'></i>
                <i class='bx bxl-instagram'></i>
                <i class='bx bxl-youtube'></i>

            </div>
        </div>
        <div class="copyright">
            <p>Citizen Connect 360 &copy; 2024. All Rights Reserved </p>
        </div>
    </div>
</div>