<div class="wrapper">
    <div class="contents">
        <div class="container">
            <div class="view-card">
                <h3>Power Outages</h3>

                <div class="view-data">
                    <p>By: Jane Wambui</p>
                    <p>13/7/2024</p>
                    <p>9:34 AM</p>
                </div>
                <p>
                    Habari gani?  The recent power outages have been very disruptive, especially for businesses.  Has the electricity company explained the cause of the outages and what they are doing to prevent them in the future?
                </p>
                <p>View Summary:</p>
                <p>200 Participants</p>
            </div>


            <div class="view-comments">
                <h3>Comments </h3>

              

                <div class="comment" *ngFor="let comment of comments">
                    <h4> {{comment.author}} </h4>
                    <p> {{comment.content}}  </p>
                    <div class="comment-data">
                        <p> {{comment.date}}</p>
                        <p>{{comment.time}}</p>
                    </div>
                </div>


            </div>
        </div>

        <div class="new-comment">
            <form [formGroup]="addCommentForm" (ngSubmit)="onSubmit()">
                <div class="chat-box">
                    <input type="text" placeholder="Type your comment here" formControlName="comment">
                    <button type="submit" [disabled]="addCommentForm.invalid">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>