@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

:root {
    --blue-color: #007BFF;
    --off-white: #F5F5F5;
    --egg-shell: #EBEBEB;
    --ivory-color: #FFFFF0;
    --dark-gray: #333333;
    --charcoal-color: #424242;
    --very-darkgray: #212121;
}

.wrapper {
    width: 100vw;
    min-height: 90vh;
    background-color: #FFFFF0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents {
    width: 80vw;
    min-height: 70vh;
    background-color: #00ffff00;
    color: #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  
}

.container {
    width: 80%;
    background-color: #e109f500;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 10px;
    padding: 10px 10px;
    font-size: 18px;
    margin-top: 10px;
}


.view-card {
    width: 100%;
    background-color: #F5F5F5;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 18px;

}

.view-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    gap: 10px;
}




.view-comments {
    width: 100%;
    background-color: #e2860d00;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 18px;
}

.comment {
    width: 100%;
    background-color: #F5F5F5;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 10px;
    padding: 10px 10px;
    border-radius: 0px 20px 20px 20px;
    font-size: 18px;

}

.comment-data {
    width: 100%;
    background-color: #e0121200;
    color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: start;
    /* gap: 10px;
    padding: 10px 10px;
    border-radius: 0px 10px  10px 10px; */
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    gap: 20px;
}


.new-comment {
    width: 64vw;
    background-color: #FFFFF0;
    color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
    position: sticky;
    bottom: 0;

}


.chat-box {
    width: 64vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.chat-box input[type="text"] {
    width: 80%;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    color: #333333;
}

.chat-box [type="submit"] {
    padding: 10px 30px;
    border-radius: 20px;
    box-sizing: border-box;
    color: #EBEBEB;
    font-size: 15px;
    font-weight: 500;
    background-color: #007BFF;
    border: none;
    float: inline-end;
}

/* Responsive styling */
@media only screen and (max-width: 768px) {
    .contents {
        width: 100vw; 
    }

    .container {
        width: 100%;
        font-size: 14px;
    }
    .view-card{
        font-size: 14px;
    }
    .view-card h3{
        font-size: 14px;
    }
    .view-data {
        font-size: 14px;
        display: flex;
        flex-direction: column;
    }
    .view-comments h3{
        font-size: 14px;
    }
    .comment{
        font-size: 14px;
    }
    .comment-data{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        font-size: 14px;
        gap: 5px;
    }
    .new-comment {
        width: 100vw;
    }
    .chat-box {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 10px;
    }
    
    .chat-box input[type="text"] {
      
        padding: 10px 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
        color: #333333;
    }
}


@media only screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 100%;
        font-size: 16px;
    }

    .container {
        width: 100%;
        font-size: 16px;
    }
    .view-card{
        font-size: 16px;
    }
    .view-card h3{
        font-size: 16px;
    }
    .view-data {
        font-size: 16px;
    }

    .view-comments h3{
        font-size: 16px;
    }
    .comment{
        font-size: 16px;
    }

    .new-comment {
        width: 80vw;
    }

    .chat-box {
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 10px;
    }
    

    .chat-box input[type="text"] {
      
        padding: 10px 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
        color: #333333;
    }



    

}