<div class="wrapper">
    <div class="contents">

        <div class="container">
            <form action="" [formGroup]="addPollForm" (ngSubmit)="onSubmit()">


                <h2>Add Poll</h2>
                <label for="search">Poll Title/Question</label>
                <input type="text" id="" name="" placeholder="Enter Poll Question" formControlName="question">
                <div class="helper-text"
                    *ngIf="addPollForm.get('question')?.touched && !addPollForm.get('question')?.valid">
                    <p *ngIf="addPollForm.get('question')?.hasError('required')"><i>Question is required</i></p>
                </div>

                <label for="search">Responses</label>

                <div class="add-response">
                    <div formArrayName="responses" class="single-response">
                        <div *ngFor="let response of getControls() ; let i = index">
                            <input type="text" id="" name="" placeholder="Enter Response" formControlName="{{i}}">
                        </div>
                    </div>
                    <input type="button" value="Add Response" (click)="addResponse()">
                </div>

                <label for="search">Start Date</label>
                <input type="date" id="" name="" formControlName="startdate">
                <div class="helper-text"
                    *ngIf="addPollForm.get('startdate')?.touched && !addPollForm.get('startdate')?.valid">
                    <p *ngIf="addPollForm.get('startdate')?.hasError('required')"><i>Startdate is required</i></p>
                </div>

                <label for="search">End Date</label>
                <input type="date" id="" name="" formControlName="enddate">
                <div class="helper-text"
                    *ngIf="addPollForm.get('enddate')?.touched &&!addPollForm.get('enddate')?.valid">
                    <p *ngIf="addPollForm.get('enddate')?.hasError('required')"><i>Enddate is required</i></p>
                </div>

                <input type="submit" value="Add Poll">


            </form>

        </div>

    </div>
</div>