<div class="wrapper">
    <div class="navbar">
       

        <div class="nav-links">
            <a [routerLink]="['']">Home</a>
            <a [routerLink]="['views']">Views</a>
            <a [routerLink]="['educate']">Educate</a>
            <a [routerLink]="['incidents']">Incidents</a>
            <a [routerLink]="['polls']">Polls</a>
            <a [routerLink]="['profile']">Profile</a>
            <!-- <a href="">Username</a> -->
            <a [routerLink]="['admin']">Admin</a>
            <a *ngIf="!authService.showStatus(); " [routerLink]="['login']">Login</a>
            <a *ngIf="authService.showStatus(); " (click)="logoutUser()">Logout</a>
        </div>
        <i class='bx bx-x' (click)="toggle()" *ngIf="showNav"></i>
        <i class='bx bx-menu' (click)="toggle()" *ngIf="!showNav"></i>
    </div>

    <div class="nav-links-responsive" *ngIf="showNav">
        <!-- Move the anchor tags here from the nav-links div -->
        <a [routerLink]="['']">Home</a>
        <a [routerLink]="['views']">Views</a>
        <a [routerLink]="['educate']">Educate</a>
        <a [routerLink]="['incidents']">Incidents</a>
        <a [routerLink]="['polls']">Polls</a>
        <a [routerLink]="['profile']">Profile</a>
        <!-- <a href="">Username</a> -->
        <a [routerLink]="['/login']">Login</a>
    </div>

</div>




<!-- <div class="wrapper">
    <div class="navbar">
       

        <div class="nav-links">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Home</a>
            <a [routerLink]="['views']">Views</a>
            <a [routerLink]="['addview']">Add views</a>
            <a href="http://127.0.0.1:5000" target="_blank">Educate</a>
            <a [routerLink]="['polls']">Polls</a>
            <a [routerLink]="['addpoll']">Add Poll</a>
            <a [routerLink]="['addincident']">Add incident</a>
            <a [routerLink]="['profile']">Profile</a>
            <a [routerLink]="['profile']">Profile</a>
            <a [routerLink]="['admin']">Admin</a>
            <a *ngIf="!authService.showStatus()" [routerLink]="['login']">Login</a>
            <a *ngIf="authService.showStatus()" (click)="logoutUser()">Logout</a>
        </div>
        <i class='bx bx-x' (click)="toggle()" *ngIf="showNav"></i>
        <i class='bx bx-menu' (click)="toggle()" *ngIf="!showNav"></i>
    </div>

    <div class="nav-links-responsive" *ngIf="showNav">
        <a [routerLink]="['']">Home</a>
        <a [routerLink]="['views']">Views</a>
        <a [routerLink]="['educate']">Educate</a>
        <a [routerLink]="['incidents']">Incidents</a>
        <a [routerLink]="['polls']">Polls</a>
        <a [routerLink]="['profile']">Profile</a>
        <a [routerLink]="['/login']">Login</a>
    </div>
</div> -->
