<div class="wrapper">
    <div class="contents">
        <div class="add-poll">
            <input type="button" value="Create a New Poll" [routerLink]="['/addpoll']">
        </div>
        <div class="polls-container">

            <div class="poll-card">
                <h3>Poll Title </h3>
                <p>Total Votes:25</p>
                <p>5 days left</p>
                <input type="button" value="Contribute" [routerLink]="['1']">
            </div>

            <div class="poll-card">
                <h3>Poll Title </h3>
                <p>Total Votes:25</p>
                <p>5 days left</p>
                <input type="button" value="Contribute" [routerLink]="['1']">
            </div>

            <div class="poll-card">
                <h3>Poll Title </h3>
                <p>Total Votes:25</p>
                <p>5 days left</p>
                <input type="button" value="Contribute" [routerLink]="['1']">
            </div>

            <div class="poll-card">
                <h3>Poll Title </h3>
                <p>Total Votes:25</p>
                <p>5 days left</p>
                <input type="button" value="Contribute" [routerLink]="['1']">
            </div>


            <div class="poll-card">
                <h3>Poll Title </h3>
                <p>Total Votes:25</p>
                <p>5 days left</p>
                <input type="button" value="Contribute" [routerLink]="['1']">
            </div>

            <div class="poll-card">
                <h3>Poll Title </h3>
                <p>Total Votes:25</p>
                <p>5 days left</p>
                <input type="button" value="Contribute" [routerLink]="['1']">
            </div>

            <div class="poll-card">
                <h3>Poll Title </h3>
                <p>Total Votes:25</p>
                <p>5 days left</p>
                <input type="button" value="Contribute" [routerLink]="['1']">
            </div>

            <div class="poll-card">
                <h3>Poll Title </h3>
                <p>Total Votes:25</p>
                <p>5 days left</p>
                <input type="button" value="Contribute" [routerLink]="['1']">
            </div>
        </div>
    </div>
</div>