<div class="wrapper">
    <div class="contents">
        <div class="container">

            <div class="side-bar">
                <div class="controls">
                    <!-- <i class='bx bx-menu-alt-left'></i> -->
                    <input type="button" value=" + New Chat">
                    <div>
                        <select name="docs" id="">
                            <option value="" selected disabled>Select Document</option>
                            <option value="">The Finance Bill</option>
                            <option value="">The Constitution</option>
                            <option value="">Tax Code</option>
                            <option value="">Companies Act</option>
                        </select>
                    </div>
                </div>

                <div class="chat-history">
                    <h3>Chat History</h3>
                    <div class="chat-item">
                        Hi, how are you today?
                    </div>
                    <div class="chat-item">
                        Hi, how are you today?
                    </div>
                    <div class="chat-item">
                        Hi, how are you today?
                    </div>
                    <div class="chat-item">
                        Hi, how are you today?
                    </div>
                    <div class="chat-item">
                        Hi, how are you today?
                    </div>
                    <div class="chat-item">
                        Hi, how are you today?
                    </div>
                    <div class="chat-item">
                        Hi, how are you today?
                    </div>
                    <div class="chat-item">
                        Hi, how are you today?
                    </div>
                    <div class="chat-item">
                        Hi, how are you today?
                    </div>
                    <div class="chat-item">
                        Hi, how are you today?
                    </div>
                    <div class="chat-item">
                        Hi, how are you today?
                    </div>
                    <div class="chat-item">
                        Hi, how are you today?
                    </div>
                    <div class="chat-item">
                        Hi, how are you today?
                    </div>
                    <div class="chat-item">
                        Hi, how are you today?
                    </div>
                    <div class="chat-item">
                        Hi, how are you today?
                    </div>
                    <div class="chat-item">
                        Hi, how are you today?
                    </div>
                   

                </div>


                <div class="user-details">
                    <h3>Jane Smith</h3>
                    <p>Citizen</p>
                </div>

            </div>

            <div class="message-box">
                <div class="header">
                    <h3> Citizen Connect 360 AI Chat</h3>

                 
                        <!-- <i class='bx bx-menu-alt-left'></i> -->
                        <input type="button" value=" + New Chat">
                        <div>
                            <select name="docs" id="">
                                <option value="" selected disabled>Select Document</option>
                                <option value="">The Finance Bill</option>
                                <option value="">The Constitution</option>
                                <option value="">Tax Code</option>
                                <option value="">Companies Act</option>
                            </select>
                        </div>
                 

                </div>

                <div class="message-space">

                    <div class="message-ur">
                        <p><b>You</b></p>
                    
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci minus iusto labore fuga. Sed incidunt voluptate magnam distinctio sapiente? Quod veniam animi dignissimos corporis reiciendis saepe maxime quis unde exercitationem!</p>
                    </div>

                    <div class="message-ai">
                        <p><b>AI</b></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci minus iusto labore fuga. Sed incidunt voluptate magnam distinctio sapiente? Quod veniam animi dignissimos corporis reiciendis saepe maxime quis unde exercitationem!</p>
                    </div>

                    <div class="message-ur">
                        <p><b>You</b></p>
                    
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci minus iusto labore fuga. Sed incidunt voluptate magnam distinctio sapiente? Quod veniam animi dignissimos corporis reiciendis saepe maxime quis unde exercitationem!</p>
                    </div>

                    <div class="message-ai">
                        <p><b>AI</b></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci minus iusto labore fuga. Sed incidunt voluptate magnam distinctio sapiente? Quod veniam animi dignissimos corporis reiciendis saepe maxime quis unde exercitationem!</p>
                    </div>
                    <div class="message-ur">
                        <p><b>You</b></p>
                    
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci minus iusto labore fuga. Sed incidunt voluptate magnam distinctio sapiente? Quod veniam animi dignissimos corporis reiciendis saepe maxime quis unde exercitationem!</p>
                    </div>

                    <div class="message-ai">
                        <p><b>AI</b></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci minus iusto labore fuga. Sed incidunt voluptate magnam distinctio sapiente? Quod veniam animi dignissimos corporis reiciendis saepe maxime quis unde exercitationem!</p>
                    </div>
                    <div class="message-ur">
                        <p><b>You</b></p>
                    
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci minus iusto labore fuga. Sed incidunt voluptate magnam distinctio sapiente? Quod veniam animi dignissimos corporis reiciendis saepe maxime quis unde exercitationem!</p>
                    </div>

                    <div class="message-ai">
                        <p><b>AI</b></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci minus iusto labore fuga. Sed incidunt voluptate magnam distinctio sapiente? Quod veniam animi dignissimos corporis reiciendis saepe maxime quis unde exercitationem!</p>
                    </div>
                    <div class="message-ur">
                        <p><b>You</b></p>
                    
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci minus iusto labore fuga. Sed incidunt voluptate magnam distinctio sapiente? Quod veniam animi dignissimos corporis reiciendis saepe maxime quis unde exercitationem!</p>
                    </div>

                    <div class="message-ai">
                        <p><b>AI</b></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci minus iusto labore fuga. Sed incidunt voluptate magnam distinctio sapiente? Quod veniam animi dignissimos corporis reiciendis saepe maxime quis unde exercitationem!</p>
                    </div>

                </div>

                <div class="new-chat">
                    <form [formGroup]="addChatForm" (ngSubmit)="onSubmit()">
                        <div class="chat-box">
                            <input type="text" placeholder="Ask anything..." formControlName="message">
                            <button type="submit" [disabled]="addChatForm.invalid">Send</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>