@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

:root {
    --blue-color: #007BFF;
    --off-white: #F5F5F5;
    --egg-shell: #EBEBEB;
    --ivory-color: #FFFFF0;
    --dark-gray: #333333;
    --charcoal-color: #424242;
    --very-darkgray: #212121;
}

.wrapper {
    width: 100vw;
    min-height: 85vh;
    background-color: #FFFFF0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents {
    width: 80vw;
    height: 100%;
    background-color: #b3ff0000;
    color: #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
}

.add-incident {
    width: 80%;
    background-color: #23e41100;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  
  
}

.add-incident input[type="button"] {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #007BFF;
    color: #EBEBEB;
    border: none;

}

.display-incidents {
    width: 80%;
    min-height: 85vh;
    background-color: #ff00bf00;
    color: #EBEBEB;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
    margin-top: 10px;
}

.incident-card {
    width: 100%;
    background-color: #F5F5F5;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    gap: 5px;
    align-self: center;
}

.image img {
    width: 100%;
    min-height: 300px;
    background-color: #fd0edd00;
    background-size: 100%;
    background-position: center;
    border-radius: 10px;
    background-repeat: no-repeat;
}

.text-content {
    width: 100%;
    min-height: 300px;
    background-color: #fd9d0e00;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 10px 10px;
    border-radius: 10px;
    gap: 10px;
    font-size: 18px;
}


/* Responsive styling */
@media only screen and (max-width: 768px) {
    .contents {
        width: 80vw;
        height: 100%;
        background-color: #b3ff0000;
        color: #EBEBEB;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 10px;
    }

    .add-incident {
        width: 100%;
        background-color: #23e41100;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      
    
    }

    .display-incidents {
        width: 100%;
        min-height: 85vh;
        background-color: #ff00bf00;
        color: #EBEBEB;
        display: grid;
        grid-template-columns: 1fr ;
        display: grid;
        justify-items: center;
        align-items: center;
        padding: 10px 10px;
        margin-top: 10px;
        gap: 10px;
    }

    .incident-card {
        width: 100%;
        background-color: #F5F5F5;
        color: #333333;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        padding: 5px;
        gap: 5px;
    }



    .text-content {
        width: 100%;
        min-height: 300px;
        background-color: #fd9d0e00;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        padding: 10px 10px;
        border-radius: 10px;
        gap: 10px;
        font-size: 14px;
    }




}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .contents {
        width: 80vw;
        height: 100%;
        background-color: #b3ff0000;
        color: #EBEBEB;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 10px;
    }

    .add-incident {
        width: 100%;
        background-color: #23e41100;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      
    
    }

    .display-incidents {
        width: 100%;
        min-height: 85vh;
        background-color: #ff00bf00;
        color: #EBEBEB;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        display: grid;
        justify-items: center;
        align-items: center;
        padding: 10px 10px;
        margin-top: 10px;
        gap: 10px;
    }


    .incident-card {
        width: 100%;
        background-color: #F5F5F5;
        color: #333333;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        padding: 5px;
        gap: 5px;
    }
    .text-content {
        width: 100%;
        min-height: 300px;
        background-color: #fd9d0e00;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        padding: 10px 10px;
        border-radius: 10px;
        gap: 10px;
        font-size: 16px;
    }
}