<div class="wrapper">
    <div class="contents">

        <div class="add-incident">
            <input type="button" value="Create a New Incident" [routerLink]="['/addincident']">
        </div>


        <div class="display-incidents">
            <div class="incident-card">
                <div class="image">
                    <img [src]="imagePath" alt="">
                </div>
                <div class="text-content">
                    <h3>Incident Title</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing eli?</p>
                    <p>Summary: </p>
                    <p>Date: 2022-01-01</p>
                    <p>Location: City, State</p>
                    <p>Reporter: John Doe</p>
                    <p>Contact: john&#64;gmail.com</p>
                </div>

            </div>

            <div class="incident-card">
                <div class="image">
                    <img [src]="imagePath" alt="">
                </div>
                <div class="text-content">
                    <h3>Incident Title</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing eli?</p>
                    <p>Summary: </p>
                    <p>Date: 2022-01-01</p>
                    <p>Location: City, State</p>
                    <p>Reporter: John Doe</p>
                    <p>Contact: john&#64;gmail.com</p>
                </div>

            </div>
        </div>


    </div>
</div>